@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  border-radius: 10px;
}

.card:hover {
  background: linear-gradient(145deg, #144444, #8ff8d7);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  border-radius: 10px;
}

.card:hover h1,
.card:hover p {
  color: #ffffff;
}

.card:hover h1::before {
  background: #ffffff;
}
